 {% extends "main.html" %} {% block body %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#msg").hide();
        PostAcc();
    });

    function PostAcc() {
        $.urlParam = function(name) {
            var results = new RegExp('[\#&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        var acc = $.urlParam("access_token");
        $("#msg").show();
        $.ajax({
            type: "POST",
            cache: "false",
            url: "/auth",
            data: {
                access_token: acc,
            },
            datatype: "json",
            error: function() {
                $("#msg").html("<strong>Warning!</strong>Error");
            },
            success: function(message) {
                $("#msg").html("<strong>"+acc+"</strong>" + message);
            }
        });
    }
</script>

<!-- <h1>Bootstrap Login template</h1>
<div class="form-inline">
    <input type="email" required class="input-small" placeholder="Email" id="email">
    <input type="password" class="input-small" placeholder="Password" id="pass">
    <button class="btn" onclick="checkForm()">Sign in</button>
</div> -->
{% end %}
